*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
body{
    background: #f8f8f8
}
header{
    width: 100%;
    background: #ffffff;
    height: 50px;
    padding: 5px;
    box-shadow: 0px 1px 10px #dadada;
    position: fixed;
    top: 0 !important;
}
header ul{
    display: flex;
    justify-content: flex-end;
}

.menu{
    position: fixed;
    width: 150px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 7px 10px #dadada;

}
.item-menu{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ced6e0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    color: #a4b0be;

}
.item-menu:hover{
    background: #f8f8f8;
    color: #dc3545;
}
.item-menu i {
    font-size: 3rem
}
.menu-activate{
    background: #f8f8f8;
    color: #dc3545;
}
.info{
    width: 60%;
    margin-top: 50px

}
h1{
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ced6e0;

}
.table,.table2{
    background: #ffffff;
    box-shadow: 0px 0px 10px #dadada;
}
.header-registros{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.btn-datos{
    display: flex;
}
.header-registros .btn-datos .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.header-registros .btn-datos .btn:hover{
    background: #dc3545;
    color: #ffffff
}
.verificacion{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.iconos-verificacion{
    width: 100%;

}
.iconos-verificacion div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}
.iconos-verificacion div i{
    font-size: 6rem;
}
.iconos-verificacion div p{
    font-size: 2rem;
}
.cedula{
    display: none !important;
}
.carga{
     /* display: none !important;  */
     
}
.carga i{
    animation: cargar 3s ease-in-out infinite forwards;
}
@keyframes cargar{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(720deg)
    }
}
.rechazado{
    display: none !important;
}
.verificado{
    display: none !important;
}
.verificador{
    width: 100%
}